{% extends 'base.html' %}

{% block extra_title %}Forgot your password?{% endblock%}

{% block content %}

    <div id="core">

        <div class="content">

            <div class="section">

                <h2>Forgot your password?</h2>

                <form action="#" id="forgot" class="form-generic">
                    <p class="clearfix">
                        <label for="id">Enter your email and we will send you another one</label>
                        <input id="id" type="text" title="email@provider.ext">
                        <button type="submit" class="button">Go!</button>
                    </p>
                </form>

            </div><!-- /section -->

        </div><!-- /content -->

    </div><!-- /core -->

{% endblock %}
